body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #a74ad1, #ff6ec7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background-image: url(img\ test.png.jpg);
}

.container {
    background-color: rgba(255, 255, 255, 0.61); /* Slightly transparent */
    padding: 40px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: #3c2f2f;
    text-align: center;
    width: 400px; /* Adjusted width */
    border-radius: 50px; /* Slightly rounded corners */
}

h2 {
    color: #a74ad1;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form input,
form select {
    width: calc(100% - 24px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #a74ad1;
    border-radius: 50px; /* Slightly rounded corners */
    font-size: 16px;
}

form button {
    padding: 15px;
    border: none;
    background-color: #a74ad1;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
    border-radius: 50px; /* Slightly rounded corners */
    text-transform: uppercase;
}

form button:hover {
    background-color: #ff6ec7;
}

.privacy-policy {
    margin-top: 20px;
}

.privacy-policy button {
    background-color: transparent;
    border: none;
    color: #a74ad1;
    cursor: pointer;
    font-weight: bold;
}

.privacy-policy-popup {
    display: none;
    background-color: #fff;
    border: 1px solid #a74ad1;
    padding: 20px;
    margin-top: 10px;
    text-align: left;
    border-radius: 5px; /* Slightly rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.privacy-policy-popup p {
    margin: 0;
}

.container .container {
    margin-top: 20px;
}
